@import './normalize';

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-size: 28px;
}

input {
  box-sizing: border-box;
  padding: 0 20px;
  outline: none;
  border: none;

  &::placeholder {
    color: #BFBFBF;
  }
}

a {
  text-decoration: none;
  color: $brand-primary-color;
}

p {
  margin: 0;
}

#app {
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &.grey {
    background: $layout-bg-color;
  }
}
